html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom:40px;
}
/* CSS for the sidebar and profile section */
.sidebar {
    background-color: #343a40;
    color: white;
    height: 100vh;
    padding: 10px;
    position: fixed;
    width: 180px;
}

    .sidebar .profile img {
        width: 100px;
        margin: 0 auto;
        display: block;
    }

    .sidebar .profile h4, .sidebar .profile p {
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
    }

    .sidebar .nav {
        margin-top: 10px;
    }

    .sidebar .nav-link {
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        font-size: 14px;
    }

        .sidebar .nav-link.active {
            background-color: #007bff;
        }

        .sidebar .nav-link:hover {
            background-color: #495057;
        }

/* CSS for the content section */
.content {
    margin-left: 200px;
    padding: 10px;
}

    .content .card {
        margin: 5px 0;
        padding: 10px;
        color: white;
        border-radius: 5px;
        font-size: 14px;
    }

        .content .card .card-body h3 {
            font-size: 24px;
            margin: 0;
        }

        .content .card .card-body p {
            font-size: 14px;
            margin: 0;
        }

        .content .card.bg-warning {
            background-color: #ffc107;
        }

        .content .card.bg-primary {
            background-color: #007bff;
        }

        .content .card.bg-danger {
            background-color: #dc3545;
        }

        .content .card.bg-success {
            background-color: #28a745;
        }

        .content .card.bg-info {
            background-color: #17a2b8;
        }
